# --- ОС МУСОР ---
.DS_Store
Thumbs.db

# --- ВРЕМЕННЫЕ ФАЙЛЫ ---
*.tmp
*.log

# --- IDE ---
.vscode/
.idea/

# --- PYTHON (если будут скрипты генерации версий) ---
__pycache__/
*.pyc

# --- NODE (если что-то появится) ---
node_modules/

# --- НЕ НУЖНЫЕ БИНАРНИКИ ---
*.zip
*.aab
*.ipa

# --- ЧТО НЕ ИГНОРИРУЕМ ---
# оставляем apk, потому что храним их внутри репозитория
# *.apk  ← НЕ ИГНОРИРУЕМ
